<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Travel Suite">

    <test name="All Tests">
        <classes>
            <class name="tests.TC_02VerifySelectedCountry" />
            <class name="tests.TC_21ClickHealthButton"/>
            <class name="tests.TC_22SelectProducts"/>
        </classes>
    </test>

</suite>